li span {
    /* display: none; */
    visibility: hidden;
}

li span.open {
    /* display: block; */
    visibility: visible;
}

.carousel-caption {
    background-color: hsla(0,0%,30%,.5);
}
